<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link href="/assets/css/base.css" rel="stylesheet" type="text/css"/>
    <title>Google Analytics Dashboard</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/assets/js/custom.js"></script>

</head>
<body>
{% include 'default/nav.html.twig' %}
{% include 'default/sidebar.html.twig' %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

