<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Panel Analytics</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a href="/logout"><span class="btn btn-danger btn-sm">
                <i data-feather="power"></i> Sair </span>
            </a>
         </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">