<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{ current == '/' ? 'active' : ''  }}" href="/">
                    <span data-feather="home"></span>
                    Visitante Em 24 Horas <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ current == 'visitors-online' ? 'active' : ''  }}" href="/visitors-online">
                    <span data-feather="bar-chart"></span>
                    Visitantes Online <span class="sr-only"></span>
                </a>
            </li>
            {% set Auth = app.session.get('Auth') %}
            {% if Auth.admin == 1 %}
            <li class="nav-item">
                <a class="nav-link {{ current == 'websites' ? 'active' : ''  }}" href="/websites">
                    <span data-feather="file"></span>
                    Websites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ current == 'users' ? 'active' : ''  }}" href="/users">
                    <span data-feather="users"></span>
                    Usuários
                </a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav logout justify-content-end d-md-none">
            <a href="/logout"><span class="btn btn-danger btn-sm">
                <i data-feather="power"></i> Sair </span>
            </a>
        </ul>
    </div>
</nav>