{% include 'default/header.html.twig' %}

<div id="graphic" class="card" style="display: none"></div>

{% include 'default/highcharts.html.twig' %}


{% include 'default/footer.html.twig' %}

<script>
    function visitorsOnline() {
        showLoading()
        getJSON('/api/analytics/visitors-online.json').then(function (data) {
            $('#graphic').css({"height": "60em", "margin": "0 auto 2em", "padding": "1em", "display": "block"});
            Highcharts.chart('graphic', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Visitantes Online'
                },
                subtitle: {
                    text: 'MSWI Soluções Web Inteligentes'
                },
                xAxis: {
                    categories: data.categories,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Usuários',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' '
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: false,
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Agora',
                    data: data.series
                }]
            });

            hideLoading();
            setTimeout(() => {
                visitorsOnline()
            }, 90000);
        });

    }
    $(()=>{
        visitorsOnline()
    })
</script>